@font-face {
    font-family: 'body';
    src: url('fonts/Century-Schoolbook-Mono.ttf');
}

body {
    margin: 0 0 0 0;
    padding: 0;
    border: 0;
    text-rendering: geometricPrecision;
    font-family: 'body';
    height:100vh;
    width:100vw;
    overflow-y: hidden;
}

.title-text {
    position:absolute;
    font-size: 1.2em;
    top:15vh;
    left:25vw;
}

.footer {
    position:absolute;
    bottom:0;
    padding:1em;
    font-size: 0.6em;
}

img {
    width:50vw;
    position:absolute;
    z-index:-1;
    left:40vw;
}